.blog-title{
    font-size: 2.5em; /* Dimensione del font */
    font-weight: bold; 
    background: linear-gradient(180deg, #6a11cb, #ff4b2b); /* Gradiente tra viola e rosa */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    line-height: 1.3; /* Aumenta l'altezza della linea per evitare tagli */
  

}

.container-blog {
    display: flex;
    justify-content: center;
}
