.title-site{
  font-weight: bolder !important;
 margin-right: 3% !important;
 color: #3D39E1 !important;

}   

.title-site:hover{
  color: #DD3E4F;;
}
  

.active-nav{
    color: grey !important;
    font-size: larger !important;
}
.active-nav:hover {

    background: linear-gradient(90deg, #6a11cb, #ff4b2b); /* Gradiente tra viola e rosa */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    transition: color 0.5s ease-in-out; /* Transizione fluida del colore */


}

.custom-navbar + .page-content {
  padding-top: 70px; /* Altezza della navbar, adattala se necessario */
}

/* Aggiungi più margine per schermi piccoli quando il menu è espanso */
@media (max-width: 992px) {
  .navbar-collapse.show + .page-content {
    margin-top: 200px; /* Altezza aggiuntiva per il dropdown, adattala */
  }
}
