.title-site{
  font-weight: bolder !important;
 margin-right: 3% !important;
 color: #3D39E1 !important;

}   

.title-site:hover{
  color: #DD3E4F;;
}
  

.active-nav{
    color: grey !important;
    font-size: larger !important;
}
.active-nav:hover {

    background: linear-gradient(90deg, #6a11cb, #ff4b2b); /* Gradiente tra viola e rosa */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    transition: color 0.5s ease-in-out; /* Transizione fluida del colore */


}

.custom-navbar + .page-content {
  padding-top: 70px; /* Altezza della navbar, adattala se necessario */
}

/* Rimuovere il contorno e lo sfondo del toggle */
.navbar-toggler {
  border: none !important; /* Rimuove il contorno */
  background-color: transparent !important; /* Rimuove lo sfondo */
  box-shadow: none !important; /* Rimuove l'ombra */
  padding: 0 !important; /* Rimuove lo spazio interno */
  margin: 0 !important; /* Elimina margini aggiuntivi */
  display: flex; /* Allinea il contenuto */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra orizzontalmente */
}

.custom-toggle-icon {
  width: 35px; /* Dimensione personalizzata */
  height: 35px;
  display: block;
  margin: 0 auto;
}

.navbar-toggler:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Aggiunge un leggero effetto al passaggio del mouse */
}

.navbar-toggler:focus {
  outline: none; /* Rimuove il contorno di focus */
}


/* Aggiungi più margine per schermi piccoli quando il menu è espanso */
@media (max-width: 992px) {
  .navbar-collapse.show + .page-content {
    margin-top: 200px; /* Altezza aggiuntiva per il dropdown, adattala */
  }
}
