.progetto-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.progetto-card-img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.progetto-card-body {
  text-align: center;
  padding: 20px;
  color: white;
}

.progetto-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.progetto-btn {
  font-size: 1rem;
  padding: 10px 10px;
  background: linear-gradient(90deg, #6a11cb, #ff4b2b);
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 180px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.progetto-btn:hover {
  background-color: #ff5733;
  text-decoration: none;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .progetti-title {
    font-size: 2em;
  }

  .progetto-card {
    margin-bottom: 20px;
  }

  .progetto-card-img {
    height: 150px;
  }

  .progetto-card-title {
    font-size: 1.2rem;
  }

  .progetto-btn {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
}
