/* Garantire altezza totale della pagina */
html, body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF; 
  overflow-x: hidden;
}

/* Blocca la selezione del testo in tutto il sito */
* {
  user-select: none; 
}


/* Root container che occupa tutta l'altezza */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; 
}

.title-style {
   
  font-weight:20;
  font-size: 2.5rem;
  background: linear-gradient(90deg, #6a11cb, #ff4b2b); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  padding-bottom: 2px;
}

.testo {
  color: #4F4F4F;
  font-size: 1.2rem;
}
.main-title {
  font-weight:400;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #6a11cb, #ff4b2b); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.main-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  padding: 2vh;
}

.first-row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly; 
  align-items: flex-start; 
  
  margin-top: 10vh !important;
}

.second-row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly; 
  align-items: flex-start; 

  margin-top: 10vh !important;}
  
  /* Modalità scura */
  body.dark-mode {
    background-color: #1E1E1E ;
    color: #f1f1f1; 
  }
  
  
  .toggle-icon {
    position: absolute;
    top: -3vh; 
    right: -5vh; 
    width: 250px; 
    cursor: pointer;
    z-index: 1000;
  }
  


  
  
  
  .toggle-icon {
    position: absolute;
  }
  


/* Navbar in modalità scura */
body.dark-mode .navbar {
  background-color: #1E1E1E !important; 
   
}

body.dark-mode p{
color: #CCCCCC;
}

body.dark-mode ul{
color: #CCCCCC;
}

@media (max-width: 768px) {
  .first-row {
    flex-direction: column; 
    align-items: center; 

  

 
}

  /* Nasconde la scrollbar su dispositivi mobili e tablet */
@media (max-width: 768px) {
  /* Nascondi la scrollbar su tutto il body */
  body::-webkit-scrollbar {
    display: none;
  }
}
}
  


 